<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome2Air Ticket</h1>
    <p>이름(KOREA) : {{korean_name}} , 이름(ENGLISH) : {{english_name}} , 여권번호 : {{passport}}</p>
    <p>폰 번호 : {{phone}}</p>
    <p>판명 : {{flight_number}}</p>
    <p>비행시간 : {{duration}}</p>
    <p>출발시간 : {{departure_datetime}} , 도착시간 : {{arrival_datetime}}</p>

    <p>출발지 : {{departure_country}}_{{departure_city}} , 공항코드 : {{departure_airport_code}}</p>

    <p>도착지 : {{arrival_country}}_{{arrival_city}} , 공항코드 : {{arrival_airport_code}}</p>
    <p>가격 : {{price}}</p>
    
</body>
</html>